<%= form_for @group, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="control-group">
    <%= f.label :"Наменование группы", :class => 'control-label' %><br />
  <div class="controls">    
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
 </div>
 <div class="control-group"> 
    <%= f.label :"Описание", :class => 'control-label' %><br />
   <div class="controls">  
    <%= f.text_area :discribe, :class => 'text_field', :rows => "3"%>
   </div>
 </div>  

  <div class="form-actions">
    <%= f.submit submit_text_button, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => "Вернуться к перечню"),
                groups_path, :class => 'btn' %>
  </div>  
<% end %>
