<div class="page-header">
  <h3>Группа "<%= @group.name %>"</h3>
</div>

<p>
  <b>Описание:</b>
  <%= @group.discribe %>
</p>


<div class="page-header">
  <h3>Подгруппы</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Наименование подгруппы</th>
      <th>Описание</th>
      <th><%=t '.actions', :default => "Действие" %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>  
<%= render @group.subgroups %>
</table>

<h3>Добавление подгруппы в группу "<%= @group.name %>":</h3>
<%= render "subgroups/form" %>

