<p id="notice"><%= notice %></p>

<p>
  <b>Наименование группы:</b>
  <%= @group.name %>
</p>

<p>
  <b>Описание:</b>
  <%= @group.discribe %>
</p>

<h3>Подгруппы</h3>
<%= render @group.subgroups %>

<h3>Добавление подгруппы в данную группу:</h3>
<%= render "subgroups/form" %>

<%= link_to 'Редактировать', edit_group_path(@group) %> |
<%= link_to 'Вернуться к перечню групп', groups_path %>
