
<div class="page-header">
  <h3>Типы платежей</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= :"Тип платежа" %></th>
      <th><%=t '.actions', :default => "Действие" %></th>
    </tr>
  </thead>
  <tbody>
    <% @paytypes.each do |paytype| %>
      <tr>
        <td><%= paytype.pay_type %></td>
        <td>
          <%= link_to t('.show', :default => "Просмотреть"),
                      paytype, :class => 'btn btn-mini' %>          
          <%= link_to t('.edit', :default => "Редактировать"),
                      edit_paytype_path(paytype), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => "Удалить"),
                      paytype_path(paytype),
                      :method => :delete,
                      data: { confirm: 'Вы уверены?' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => "Создать"),
            new_paytype_path,
            :class => 'btn btn-primary' %>
