<div class="page-header">
  <h3>Тип платежа</h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= :"Тип платежа" %>:</strong></dt>
  <dd><%= @paytype.pay_type %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => "Вернуться к перечню"),
              paytypes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => "Редактировать"),
              edit_paytype_path(@paytype), :class => 'btn' %>
  <%= link_to t('.destroy', :default => "Удалить"),
              paytype_path(@paytype),
              :method => 'delete',
              data: { confirm: 'Вы уверены?' },
              :class => 'btn btn-danger' %>
</div>
