<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Имя, фамилия" %><br />
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :Адрес %><br />
    <%= f.text_area :address, rows: 5, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :"Ваш электронный адрес" %><br />
    <%= f.email_field :email, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :"Форма платежа" %><br />
    <%= f.collection_select :paytype_id, Paytype.all, :id, :pay_type, :prompt => 'Выберите форму' %>
  </div>
 <% unless params[:action] == "new" %> 
  <div class="field">
    <%= f.label :ship_date %><br />
    <%= f.date_select(:ship_date, :order => [:month, :day, :year]) %>
  </div>
 <% end %> 
  <div class="actions">
    <%= f.submit "Отправить заказ" %>
  </div>
<% end %>
