<%= form_for([@group, @group.subgroups.build]) do |f| %>
 <div class="control-group">
    <%= f.label :"Наименование новой подгруппы", :class => 'control-label' %><br />
   <div class="controls"> 
    <%= f.text_field :name, :class => 'text_field' %>
   </div>
 </div>

 <div class="control-group"> 
    <%= f.label :"Описание", :class => 'control-label' %><br />
   <div class="controls">     
    <%= f.text_area :describe, :class => 'text_field', :rows => "2" %>
   </div>    
  </p>
 </div>
  <div class="form-actions">
    <%= f.submit submit_text_button, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => "Вернуться к перечню"),
                groups_path, :class => 'btn' %>
  </div> 
<% end %>
