<%= form_for([@product, @product.subcode_prods.build]) do |f| %>
 <div class="control-group">
    <%= f.label :"Введите код товара" %><br />
   <div class="controls">    
    <%= f.text_field :subcode %>
   </div>
 </div>

  <div class="form-actions">
    <%= f.submit submit_text_button, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => "Вернуться к перечню"),
                products_path, :class => 'btn' %>
  </div>   
<% end %>