<% javascript javascripts_dynamic_subgroups_path %>

<%= form_for(@product, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="control-group">
    <%= f.label :"Наименование" %><br />
  <div class="controls">    
    <%= f.text_field :title %>
  </div>
 </div>
 <div class="control-group">
    <%= f.label :"Описание (в описание используйте теги <p> </p> для структурированного отображения текста)" %>
  <div class="controls">    
    <%= f.text_area :description, rows: 4 %>
  </div>
 </div>
 <div class="control-group">
      <label for="product_group_id">Группа:</label>
  <div class="controls">      
      <%= f.collection_select :group_id, Group.find(:all), :id, :name, :prompt => "Выберите группу" %>
  </div>
 </div>
 <div class="control-group">
      <label for="product_subgroup_id">Подгруппа:</label>
  <div class="controls">      
      <%= f.collection_select :subgroup_id, Subgroup.find(:all), :id, :name, :prompt => "Выберите подгруппу" %>
  </div>
 </div>
 <div class="control-group">
    <%= f.label "Загрузить картинку" %>
  <div class="controls">    
    <%= f.file_field :image %>
  </div>
 </div>
 <div class="control-group">
    <%= f.label :"Цена" %>
  <div class="controls">    
    <%= f.text_field :price %>
  </div>
 </div>

  <div class="form-actions">
    <%= f.submit submit_text_button, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => "Вернуться к перечню"),
                products_path, :class => 'btn' %>
  </div>  
<% end %>
