<% javascript javascripts_dynamic_subgroups_path %>

<%= form_for(@product, :html => { multipart: true  }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Наименование" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :"Описание (в описание используйте теги <p> </p> для структурированного отображения текста)" %><br />
    <%= f.text_area :description, rows: 6 %>
  </div>
  <p>
      <label for="product_group_id">Group:</label>
      <%= f.collection_select :group_id, Group.find(:all), :id, :name, :prompt => "Select a Group" %>
  </p>
  <p id="subgroup_field">
      <label for="product_subgroup_id">Subgroup:</label>
      <%= f.collection_select :subgroup_id, Subgroup.find(:all), :id, :name, :prompt => "Select Subgroup" %>
  </p>
  <div class="field">
    <%= f.label "Загрузить картинку" %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :"Цена" %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit submit_text_button %>
  </div>
<% end %>
